PARTS-llvm
Makefile.local
gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu.tar.xz
gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu/
parts-build
parts-install
sysroot-glibc-linaro-2.25-2018.05-aarch64-linux-gnu.tar.xz
sysroot-glibc-linaro-2.25-2018.05-aarch64-linux-gnu/
**/*.bc
**/*.ll
**/*.s
